.version.bread_of_life_contact /* version checker */
{
	color: #000014;
	background-color: #4EE40B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1660px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 119px;
	padding-bottom: 676px;
	width: 0.01px;
}

#u1207
{
	z-index: 2;
	height: 54px;
	top: 0px;
}

#u1207-bw
{
	z-index: 2;
}

#u2370
{
	z-index: 31;
	width: 150px;
	min-height: 30px;
	top: 15px;
	left: 50%;
	margin-left: 164px;
}

#u1208
{
	z-index: 3;
	width: 30px;
	top: 12px;
	left: 50%;
	margin-left: 392px;
}

#u1210
{
	z-index: 5;
	width: 29px;
	top: 12px;
	left: 50%;
	margin-left: 442px;
}

#u1497-4
{
	z-index: 7;
	top: 21px;
	left: 50%;
	margin-left: -469px;
}

#u1498-4
{
	z-index: 11;
	top: 21px;
	left: 50%;
	margin-left: -389px;
}

#u1499-4
{
	z-index: 15;
	top: 21px;
	left: 50%;
	margin-left: -255px;
}

#u1500-4
{
	z-index: 19;
	top: 21px;
	left: 50%;
	margin-left: -150px;
}

#u1501-4
{
	z-index: 23;
	top: 21px;
	left: 50%;
	margin-left: -54px;
}

#u1502-4
{
	z-index: 27;
	top: 21px;
	left: 50%;
	margin-left: 65px;
}

#u1393-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	position: relative;
}

#pu1394-29
{
	width: 0.01px;
	margin-top: 18px;
}

#u1394-29
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1560
{
	z-index: 65;
	width: 640px;
	min-height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#u2488
{
	z-index: 72;
	height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #C98B1F;
}

#u2488-bw
{
	z-index: 72;
	margin-top: 65px;
	height: 32px;
}

#u2487
{
	z-index: 71;
	height: 55px;
	border-style: none;
	border-color: transparent;
	background: #141413 url("../images/pattern.jpg") repeat-x center top;
}

#u2487-bw
{
	z-index: 71;
	height: 55px;
}

#u2485
{
	z-index: 66;
	min-height: 176px;
	border-style: none;
	border-color: transparent;
	background-color: #141413;
	padding-bottom: 70px;
}

#u2485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	margin-bottom: -5px;
}

#pu2489
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 76px;
	margin-left: 154px;
}

#u2489
{
	z-index: 73;
	width: 25px;
	background-color: transparent;
	margin-left: 37px;
	position: relative;
}

#u2486-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
}

#u2492
{
	z-index: 85;
	width: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 356px;
}

#u2493
{
	z-index: 86;
	width: 19px;
	background-color: transparent;
	margin-left: 76px;
	position: relative;
}

#u2495-6
{
	z-index: 88;
	margin-top: 14px;
	position: relative;
}

#u2495-6_img
{
	display: block;
	vertical-align: top;
}

#u2491-10
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 603px;
}

#u2496-8
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 843px;
}

#u2485-bw
{
	z-index: 66;
	min-height: 176px;
	margin-top: -5px;
}

body
{
	position: relative;
	min-width: 980px;
	padding-bottom: 15px;
}

